/* MAIN ABOUT STYLE 
----------------------*/
.about {
    position: absolute;
    top: 5em;
    width: 100vw;
    background-color: var(--bg-color);
  }
  
  .about-section {
    position: relative;
    width: 90vw;
    margin: 0 auto;
  }
  
  .container {
    position: relative;
    width: 80vw;
    left: 50%;
    transform: translate(-50%);
    margin-top: 3em;
    margin-bottom: 5em;
  }
  
  .illustrations {
    position: relative;
    left: 50%;
    transform: translate(-50%);
  }
  
  p {
    font-size: 1.375em;
    text-align: center;
    color: var(--main-color);
  }
  
  .about h2 {
    color: var(--main-color);
    font-size: 2.5em;
  }
  
  .header-secondary {
    margin-top: 0em;
  }
  
  
  
  /* CTA STYLE 
  ----------------------*/
  .cta {
    font-size: 1.375em;
    text-decoration: none;
    font-weight: bold;
    background-color: var(--main-color);
    border-radius: 1.5em;
    padding: 15px 30px;
    color: var(--secondary-color);
    margin: 0;
  }
  
  .cta:hover {
    color: var(--main-color);
    background-color: var(--secondary-color);
    border: 2px solid var(--main-color);
  }
  
  .cta-top {
    position: relative;
    top: 0.5em;
  }
  
  
  
  
  /* LINK STYLE 
  ----------------------*/
  .link {
    text-decoration: none;
    font-weight: 600;
    color: var(--main-color);
  }
  
  .link:hover {
    opacity: 0.3;
  }
  
  
  
  
  /* FOOTER STYLE 
  ----------------------*/
  footer {
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
  }
  
  
  
  
  /* DESKTOP STYLE 
  ----------------------*/
  @media only screen and (min-width: 1000px) {
    .grid-container {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 90vw;
        left: 50%;
        transform: translate(-50%);
        gap: 4em;
    }
    .container {
        width: 25vw;
    }
    .illustrations {
        width: 25vw;
        height: 25vh;
    }
    .about-footer {
        padding-top: 0em;
    }
    .header-secondary {
        margin-left: 1.8em;
    }
  }
