/* MAIN DEMO STYLE 
----------------------*/
.demo {
    position: absolute;
    top: 4em;
    width: 100vw;
}

.demo-header {
    position: relative;
    margin: 0 auto;
    width: 90vw;
}

.demo-section {
    position: relative;
    width: 90vw;
    left: 50%;
    transform: translate(-50%);
}

iframe {
    border-radius: 12px;
    width: 90vw;
    height: 380px;
}



/* DESKTOP STYLE 
----------------------*/
@media only screen and (min-width: 1000px) {
    iframe {
        position: relative;
        top: -3em;
        left: 50%;
        transform: translate(-50%);
        height: 60vh;
        width: 50vw;
    }
}