/* UNIVERSAL NAVIGATION 
----------------------*/
.active {
    opacity: 1!important;
    border-bottom: 3px solid var(--secondary-color);
}

li {
    margin-bottom: 3em;
}

#closed {
    display: none;
}

#open {
    display: block;
}




/* MOBILE NAVIGATION 
----------------------*/
.mobile-navigation {
    position: absolute;
    background-color: var(--main-color);
    border-bottom: 1px solid #e6e6e6;
    width: 100vw;
    height: 70px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

.navigation__list {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    top: 1.5em;
    z-index: 1;
    height: 55vh;
    width: 100vw;
    padding-top: 2em;
    background-color: var(--main-color);
    text-transform: uppercase;
}

.navigation__item * {
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 1.875em;
    font-weight: bold;
    opacity: 0.6;
}

.navigation__header {
    position: relative;
    color: var(--secondary-color);
    top: 0.4em;
    font-size: 1.875em;
    font-weight: bold;
    /* margin-right: 1em; */
}

.navigation__menu-icon {
    position: absolute;
    top: 0.7em;
    right: 1em;
    filter: var(--filter-color);
    width: 50px;
}

.nav-icon {
    position: relative;
    /* top: 1em; */
    margin-bottom: 2.5em;
    color: var(--secondary-color);
}

.nav-icon:hover {
    opacity: 0.3;
}

.linkedin {
    margin-right: 25vw;
}

.facebook {
    margin-right: 25vw;
}

.github {
    left: 0;
}

#theme-icon {
    position: absolute;
    top: 1.5em;
    left: 1em;
    width: 50px;
    color: var(--secondary-color);
}

#theme-icon:hover {
    opacity: 1!important;
}





/* DESKTOP NAVIGATION 
----------------------*/
.desktop-navigation {
    display: none;
}


.desktop-navigation {
    width: 100vw;
    height: 80px;
    background-color: var(--main-color);
    overflow-x: hidden;
}

.desktop-navigation__list {
    position: absolute;
    top: -0.1em;
    right: 0em;
}

.desktop-navigation__item {
    display: inline;
    margin-right: 3em;
}

.desktop-navigation__item * {
    font-size: 1.875em;
    font-weight: bold;
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    font-family: 'Oswald', sans-serif;
    opacity: 0.6;
    text-transform: uppercase;
}

.desktop-navigation__header {
    position: absolute;
    top: 0.5em;
    left: 1em;
    color: var(--secondary-color);
    font-size: 1.875em;
    font-weight: bold;
}

#CV {
    margin-right: 0!important;
}

@media only screen and (min-width: 1000px) {
    .mobile-navigation {
        display: none;
    }
    .desktop-navigation {
        display: block;
    }
    .nav-icon {
        position: relative;
        top: 1.25em;
        color: var(--secondary-color);
        margin: 0!important;
    }
    .linkedin {
        left: 12em;
    }
    .facebook {
        left: 13.5em;
    }
    .github {
        left: 15em;
        margin-right: 25vw;
    }
    #theme-icon {
        position: relative;
        top: 1.25em;
        left: 16.5em;
    }
    #theme-icon:hover {
        opacity: 0.3!important;
    }
    
}